{%  extends 'base.html' %}

{% block pageheading %}cart{% endblock %}

{% block main %}
    <table class="cart-table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Item total</td>
                <td>Remove one</td>
            </tr>
        </thead>
        <tbody>
        {% set ns=namespace(total = 0) %}
        {% for item in cart_data %}
            <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[1] }}</td>
                <td>${{ "{:.2f}".format(item[3]) }}</td>
                <td>${{ "{:.2f}".format(item[4]) }}</td>
                <td><a href="removeonefromcart/{{ item[0]}}">x</a></td>
                {% set ns.total = ns.total + item[3] * item[1] %}
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <th>Total</th>
                <td class="cart-total">${{ "{:.2f}".format(ns.total) }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
<p><br><br> <a href="/confirmorder">Confirm order</a></p>

{% endblock %}